body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

h1, h2, h3, h4 {
  font-family: 'Doppio One', sans-serif;
}

h2, h3, h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 60px;
  font-size: 625%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 112.5%;
}

h1 a {
  background: #ff0;
  padding: 2px;
  text-decoration: none;
  background-image: url(/images/3d_glasses.png);
  background-repeat: no-repeat;
  background-position: 98% 100%;
  padding-right: 140px;
}

h1 a,
h1 a:hover,
h1 a:active,
h1 a:visited {
  color: #000;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

a {
  background: #222;
  padding: 2px;
  text-decoration: none;
}

a, a:hover, a:active, a:visited {
  color: #ff0;
}

p {
  line-height: 22px;
  margin-top: 18px;
  margin-bottom: 18px;
}

ul, ol {
  margin-top: 20px;
  padding-left: 30px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ul.unstyled, ol.unstyled {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

time {
  font-size: 75%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  font-family: 'Courier', monospace;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}

pre {
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
}

pre > code {
  padding: 0;
  border: 0 none;
  white-space: pre;
}

div#container {
  margin-left: 100px;
  margin-top: 20px;
  padding: 20px;
  width: 640px;
}

div#main {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width:0) and (max-width:825px) {
  h1 {
    margin-bottom: 20px;
    font-size: 250%;
  }

  h1 a {
    background: #ff0;
    padding: 2px;
    text-decoration: none;
    background-image: none;
    padding-right: 0;
  }

  div#container {
    margin: 0 auto;
    padding: 20px;
    width: auto;
    max-width:100%;
  }
}

.wrapper {}

article header {
  margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  font-size: 75%;
}

footer * {
  display: inline;
}

ul#people {
  margin-top: 20px;
}

ul#people li {
  overflow: hidden;
  margin-bottom: 10px;
}

ul#people img {
  float: left;
  margin-right: 10px;
  width: 48px;
}

ul#people p {
  margin: 0;
}

#disqus_thread {
  margin: 70px auto;
}

#disqus_thread a,
#disqus_thread a:hover,
#disqus_thread a:active,
#disqus_thread a:visited {
  color: #222;
  background: none;
  padding: 0;
  text-decoration: underline;
}

ul.posts .date {
  margin-bottom: 4px;
  font-size: 80%;
}

ul.posts a {
  line-height: 28px;
}

#results_container {
  display: none;
  margin-bottom: 50px;
}

input {
  border: none;
  border-bottom: 2px solid #222;
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0px;
}